generating the images by using open ai (Model: Dall -E3)
{
  "name": "generating images using open ai",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "973ad192-d609-4b47-b5f8-373b3896b342",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        60,
        120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rEogLXSChV3fTrkmx51N-ChIC3kUTuhEzEhPJ8NCzio/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rEogLXSChV3fTrkmx51N-ChIC3kUTuhEzEhPJ8NCzio/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        300,
        120
      ],
      "id": "11e7a3dc-b7b8-4696-bf62-b4430fda4e24",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSWvoynFZTbuFsvm",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=You are an AI assistant used within n8n. Your role is to take the input provided in {{ $json.prompt }} and generate a  image that naturally showcases the real-world usage of the mentioned product. The image should be realistic and grounded in natural design—avoiding any cartoonish or animated styles. It must visually represent how the product is used in daily life, while incorporating subtle binary elements that are clear, aesthetically balanced, and relevant to the context. The final output should be suitable for professional use in content automation workflows.\"",
        "options": {
          "returnImageUrls": "={{ $json.base_image_url }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        120
      ],
      "id": "6640e972-fbb9-46ea-9a1b-916378864677",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bcuzJ7cJSlw6l4UX",
          "name": "OpenAi account 9"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rEogLXSChV3fTrkmx51N-ChIC3kUTuhEzEhPJ8NCzio/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rEogLXSChV3fTrkmx51N-ChIC3kUTuhEzEhPJ8NCzio/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Generated Image": "={{ $json.url }}",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "base_image_url",
              "displayName": "base_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Image",
              "displayName": "Generated Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        740,
        120
      ],
      "id": "c471b840-a8d2-4a54-aa17-c15a9d3c0a42",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSWvoynFZTbuFsvm",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2573c934-2a7c-4171-a99d-9d534453cfeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "611902a1953abc0677a799f441cd3d3ed7a667ad75821dbebd90e882ae27e3df"
  },
  "id": "wJSg7tSJHUJ2Jnrr",
  "tags": []
}
