Scraping the linkedin using phantombuster follower collector based on next followup date and it sacrapes when new follower has came
{
  "name": "Build this Automated AI Linkedin lead magnet system in 1 hour (n8n)  manoj workflow 1",
  "nodes": [
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "6313824210414474",
        "additionalFields": {}
      },
      "name": "Get Phantombuster Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "1c962fdc-7950-4388-b4b1-1029f75c9c97",
      "credentials": {
        "phantombusterApi": {
          "id": "OPU55tCXIxA33JSr",
          "name": "Phantombuster account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 10
            }
          ]
        }
      },
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "id": "6a5111a3-bed4-4175-b49b-0538b99a1cb3"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "03552948-7f45-4af5-baf4-7e2509063a95",
      "webhookId": "8dec8804-9480-450a-8b6c-f92dbd8f8255"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "7l7PPd1BSuesGnPDPt1Nl2X2OXK4Fc4u0SbgdsAFqiw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"id\": \"6313824210414474\",\n  \"argument\": {\n    \"sessionCookie\": \"AQEFAREBAAAAABVnZngAAAGWZ-j96wAAAZcCd5P8VgAAtHVybjpsaTplbnRlcnByaXNlQXV0aFRva2VuOmVKeGpaQUFDeWR3clRDQmEydko1R29oVzJMdDJFeU9JVVg0Ny9qT1lFZTAxK3pFREl3REM3QW9GXnVybjpsaTplbnRlcnByaXNlUHJvZmlsZToodXJuOmxpOmVudGVycHJpc2VBY2NvdW50OjQyNjYyODA5OCw0NTY3Nzk2MjIpXnVybjpsaTptZW1iZXI6MTQzODE0NzExMiZzabiMEbEIxbLmwZdUarizXKEFPXgqB7NFUNCsx9JVLQfB21FFkhOgvhizDsQ74mpX_DqEchBAXsJF6j4pOa_GW3nfEM_U8bUHTP4jW-lxANokf2yUkU_cvk7CYu-coTzHFWr5VKTwY1Mn-CHUhdC_TE8lfQYxbx8CyfZeBAWPkaF-n5JV0vbwTOKZ4T4PmlVXCEI\",\n    \"numberOfAddsPerLaunch\": 10\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "46efc0f4-40e8-4a2b-a27e-5c23d10b7d6b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EIOjohCLDHQTK9g3TnzYJHjZ1oLsysWw_4_7ggxpB6k",
          "mode": "list",
          "cachedResultName": "n8nQaApplication",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EIOjohCLDHQTK9g3TnzYJHjZ1oLsysWw_4_7ggxpB6k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488729431,
          "mode": "list",
          "cachedResultName": "LinkedInNewConnection",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EIOjohCLDHQTK9g3TnzYJHjZ1oLsysWw_4_7ggxpB6k/edit#gid=1488729431"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.fullName }}",
            "LinkedIn URL": "={{ $json.profileLink }}",
            "Occupation": "={{ $json.occupation }}",
            "Next follow up date": "={{ $today.plus({ days: 2 }).format('dd-MM-yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Occupation",
              "displayName": "Occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Counter",
              "displayName": "Counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next follow up date",
              "displayName": "Next follow up date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        0
      ],
      "id": "c098a474-2018-4769-8cd7-a5241b12c252",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CmAkoxRketJyyE6c",
          "name": "PoojaPalSheet"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56b47727-a7b3-42c0-8944-a3d2aaebd263",
              "leftValue": "={{ $json.fullName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6add2cec-85d3-41b8-89cb-69c75874aac4",
              "leftValue": "={{ $json.profileLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "f86c591d-3e97-4f61-bd3f-a14fda1f9fc3",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Phantombuster Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Phantombuster Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83ad703d-f4dc-4bc7-8813-73aa9a65e9bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d949202a47676d698bdba96f7bba429e957dcc21ec266fbc40ef128cf210368"
  },
  "id": "Cc8jOhN0FwOKAMEX",
  "tags": []
}
